</html>
<head>
    <title>Json datas</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">


   <style>
   ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

   </style>
</head>

        <body>
          <div style="margin:100px;">
            <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <a class="navbar-brand" href="/">Express HTML</a>
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/jsonlist">Add JSON elements</a>
              </li>
              <li>
                <a href="/jsonsort">Sort JSON elements</a>
              </li>
            </ul>
          </div>
        </nav>
            <div class="jumbotron"  style="padding:40px;">

                <div id="list">
                    <form>
                      <div class="form-group">
                      <select required id="category">
                        <option class="form-control" value="">Select Category</option>
                        <option value="switches">Switches</option>
                        <option value="luminaires">Luminaires</option>
                        <option value="sensors">Sensors</option>
                      </select></div>
                     
                      <input type="text" name="name" placeholder="Add name (two words, no special characters)" pattern='([a-zA-Z0-9]+\s){1,}([a-zA-Z0-9]+)' maxlength="31" required>
                      <input type="text" name="brand" placeholder="Add new brand..." minlength="4" maxlength="16" required> 
                      <input type="text" name="model" placeholder="Add new model..." minlength="3" maxlength="10" required> 
                      <input type="number" name="price" placeholder="Add new price..." min="1" max="500" required><span> EUR</span> 
                      <button type="submit" value="submit">Add item</button>
                    </form>
                    <ul>
                        <% for(var i=0; i < elemek.length; i++) { %>
                          <li>Category: <%= elemek[i].category %></li> 
                          <li>Name: <%= elemek[i].name %></li>
                          <li>Brand: <%= elemek[i].brand %></li>
                          <li>Model: <%= elemek[i].model %></li>
                          <li>Price: <%= elemek[i].price %></li><br>
                          <% } %>
                    </ul>
            
                  </div>

 
            </div>
          </div>
<script>
 
  </script>
 <script src="/assets/poster.js"></script>
  </body>
</html>