<html>
<head>
    <title>Json datas</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

   <style>
   ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

   </style>
</head>

        <body>
          <div style="margin:100px;">
            <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <a class="navbar-brand" href="/">Express HTML</a>
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/jsonlist">Add JSON elements</a>
              </li>
              <li>
                <a href="/jsonsort">Sort JSON elements</a>
              </li>
            </ul>
          </div>
        </nav>
            <div class="jumbotron"  style="padding:40px;">
                <p>Quick Tests</p>
                <div id="list">
                    <form>
                      <button type="button" onclick="location.href='/jsonsort/?sort=name-asc';">Name ASC</button>
                      <button type="button" onclick="location.href='/jsonsort/?sort=name-desc';">Name DESC</button>
                      <button type="button" onclick="location.href='/jsonsort/?sort=price-asc';">Price ASC</button>
                      <button type="button" onclick="location.href='/jsonsort/?sort=price-desc';">Price DESC</button>
                      <br>
                      <button type="button" onclick="location.href='/jsonsort/?categories[]=switches&categories[]=sensors&sort=name-asc';">Switches an Sensors, Name ASC</button>
                      <button type="button" onclick="location.href='/jsonsort/?categories[]=switches&categories[]=sensors&sort=name-desc';">Switches an Sensors, Name DESC</button>
                      <button type="button" onclick="location.href='/jsonsort/?categories[]=switches&sort=price-asc';">Switches, Price ASC</button>
                      <br>
                      <button type="button" onclick="location.href='/jsonsort/';">ALL Item</button>
                     
                    </form>
                    <ul>
                      <% for(var i=0; i < elemek.length; i++) { %>
                        <li><%= elemek[i].category %></li> 
                        <li><%= elemek[i].name %></li>
                        <li><%= elemek[i].brand %></li>
                        <li><%= elemek[i].model %></li>
                        <li><%= elemek[i].price %></li><br>
                        <% } %>
                    </ul>
            
                  </div>
            </div>
          </div>

  </body>
  </html>